.page {
    margin: 0 auto;
    padding: 28px 48px 24px;
    max-width: 1280px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    min-height: 100%;   
}

@media screen and (max-width: 950px) {
    .page {
        padding: 28px 24px 24px;
    }
}

@media screen and (max-width: 600px) {
    .page {
        padding: 28px 16px 24px;
    }
}