.lead__caption {
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: left;
    margin: 8px 0 0 0;
    padding: 0;
}

@media screen and (max-width: 950px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media screen and (max-width: 600px) {
    .lead__caption {
        padding-left: 18px;
    }
}