.place {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
        "title website"
        "image text";
    column-gap: 40px;
    row-gap: 48px;
}


.place:not(:last-child) {
    margin: 0 0 80px 0;
}