.photo-grid__image {
    position: relative;
    padding: 0 0 75% 0;
}

.photo-grid__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}